.DS_Store
data/
notebook/
plots/
eval_figs/AF_L_recon*.png
presentations/
test_bundles/AF_L_recon*.trk
src/.ipynb_checkpoints/
src/__pycache__/
src/.DS_Store
src/cleaner_ppmi.sh
src/cleaner_adni.sh
src/run_cleaner_ppmi.py
src/run_cleaner_adni.py
submission/