.gitignore
.DS_Store
data/
notebook/
plots/
presentations/
eval_figs/AF_L_recon*.png
eval_figs/AF_L_step*.png
test_bundles/AF_L_recon*.trk
test_bundles/AF_L_proc_fiberneat.trk
src/.ipynb_checkpoints/
src/__pycache__/
src/.DS_Store
src/cleaner_ppmi.sh
src/cleaner_adni.sh
src/run_cleaner_ppmi.py
src/run_cleaner_adni.py
submission/